body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #334155;
  margin: 0;
  padding: 0;
}

.header-container {
  background: #334155;
  padding: 10px 16px;
  margin: 0 0 0 0;
  height: 80px;
  width: 100%;
  color: #f1f5f9;

  display: grid;
  grid-template-columns: auto 1fr;
}
.header-container .edit-toggle {
  grid-area: 2 1 3 2;
  justify-self: end;
}
.header-container button {
  grid-area: 1 1 2 2;
  justify-self: start;
  padding: 8px 16px;
  border: 1px solid #f1f5f9;
  border-radius: 4px;
  background: #334155;
  color: #f1f5f9;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.header-container button:hover {
  background: #f1f5f9;
  color: #334155;
}
.header-container h1 {
  grid-area: 1 / 2 / 3 / 3;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 600;
  justify-self: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.content-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  padding: 32px;
}

.input-pane {
  background: #f1f5f9;
  flex: 1;
  height: 100%;
  color: #334155;
}
.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category-list label {
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 90%;
}
.category-list input {
  padding: 2px 8px;
  border: 1px solid #334155;
  border-radius: 4px;
  width: 80%;
  margin-left: auto;
}

.preview-pane {
  --preview-max-width: min(100%, calc(0.7 * (90vh - 100px)));
  --preview-unit: calc(1cqw);
  position: sticky;
  top: 10px;
  border: 1px solid #334155;
  container: preview / size;
  margin-bottom: auto;
  flex: 1;
  max-width: var(--preview-max-width);
  aspect-ratio: 0.7;
  font-size: 1cqw;
  overflow: hidden;
}
.preview-pane--main {
  max-width: 70%;
  margin: 0 auto;
}
.preview-pane * {
  overflow: hidden;
}
.preview-pane__header {
  background: #334155;
  color: #f1f5f9;
  display: grid;
  grid-template-columns: 5% 65% 30%;
  grid-template-rows: 60% 40%;
  height: 15%;
  width: 100%;
}
.preview-pane__header * {
  white-space: nowrap;
}
.preview-pane__name {
  text-transform: uppercase;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 7cqw;
}
.preview-pane__job-title {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: 60%;
  font-size: 4cqw;
}
.input-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
}
.delete-section {
  color: #991b1b;
  background-color: #fee2e2;
  align-self: center;
  padding: 4px 8px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid #991b1b;
}
.delete-section:hover {
  background-color: #fca5a5;
}
.add-section {
  color: #1b4332;
  background-color: #e2f3ee;
  font-size: 120%;
  align-self: center;
  padding: 4px 8px;
  margin-left: 16px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid #1b4332;
}
.add-section:hover {
  background-color: #a5e8d8;
}
.preview-pane__side-group {
  grid-area: 1 / 3 / 3 / 4;
  padding-right: 1cqw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
  font-size: 2cqw;
}
.preview-pane__description {
  background: #f1f5f9;
  color: #636363;
  padding: 2cqw 10cqw 2cqw 5cqw;
  font-size: 1.5cqw;
}
.preview-pane__education-field {
  align-items: center;
  display: grid;
  grid-template-columns: 39cqw 39cqw 16cqw;
  gap: 4cqw;
  font-size: 2cqw;
  padding: 1cqw 0;
}
.preview-pane__education > h2 {
  font-size: 5cqw;
  padding: 1cqw 5cqw;
  margin: 2cqw;
  text-transform: uppercase;
}
.preview-pane__education-field__school {
  font-weight: bold;
  font-size: 2.5cqw;
  padding-left: 5cqw;
}
.preview-pane__education-field__years {
  margin-left: auto;
  padding-right: 5cqw;
  font-style: italic;
}
.preview-pane__education > div:nth-child(2n) {
  background: #f1f5f9;
}
.preview-pane__work-field {
  align-items: center;
  display: grid;
  grid-template-columns: 39cqw 39cqw 16cqw;
  gap: 4cqw;
  font-size: 2cqw;
  padding: 1cqw 0;
}
.preview-pane__work > h2 {
  font-size: 5cqw;
  padding: 1cqw 5cqw;
  margin: 2cqw;
  text-transform: uppercase;
}
.preview-pane__work-field__company {
  font-weight: bold;
  font-size: 2.5cqw;
  padding-left: 5cqw;
}
.preview-pane__work-field__years {
  margin-left: auto;
  padding-right: 5cqw;
  font-style: italic;
}
.preview-pane__work-field__description {
  grid-column: span 3;
  padding: 0 5cqw 1cqw;
}
.preview-pane__work > div:nth-child(2n) {
  background: #f1f5f9;
}
