body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #334155;
  margin: 0;
  padding: 0;
}

.header-container {
  background: #334155;
  padding: 10px 16px;
  margin: 0 0 0 0;
  height: 80px;
  width: 100%;
  color: #f1f5f9;

  display: flex;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.content-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  padding: 32px;
}

.input-pane {
  background: #f1f5f9;
  flex: 1;
  height: 100%;
  color: #334155;
}
.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category-list label {
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 90%;
}
.category-list input {
  padding: 2px 8px;
  border: 1px solid #334155;
  border-radius: 4px;
  width: 80%;
  margin-left: auto;
}

.preview-pane {
  --preview-max-width: min(100%, calc(0.7 * (90vh - 100px)));
  --preview-unit: calc(1cqw);
  border: 1px solid #334155;
  container: preview / size;
  margin: auto 0;
  flex: 1;
  max-width: var(--preview-max-width);
  aspect-ratio: 0.7;
  font-size: 1cqw;
}
.preview-pane__header {
  background: #334155;
  color: #f1f5f9;
  display: grid;
  grid-template-columns: 5% 65% 30%;
  grid-template-rows: 60% 40%;
  height: 15%;
  width: 100%;
}
.preview-pane__name {
  text-transform: uppercase;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 7cqw;
}
.preview-pane__job-title {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: 60%;
  font-size: 4cqw;
}
.preview-pane__side-group {
  grid-area: 1 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  font-size: 3cqw;
}
